<h1>Edit a Point of Interest</h1>

<form action="/trips/{{id}}?_method=put" method="POST">
    <p>
        <label for="location">City:</label>
        <input type="text" value="{{this.location}}" name="location">
    </p>
    <p>
        <label for="name">Name:</label>
        <input type="text" value="{{this.name}}" name="name">
    </p>
    <p>
        <label for="website">Website:</label>
        <input type="text" value="{{this.website}}" name="website">
    </p>
    <p>
        <label for="notes">Notes:</label>
        <input type="text" value="{{this.notes}}" name="notes">
    </p>
    <select name="type">
        <option value="Brewery">Brewery</option>
        <option value="Place to See">Place To See</option>
        <option value="Restaurant">Restaurant</option>
        <option value="Thing To Do">Thing To Do</option>
    </select>
    <input type="submit" value="Edit">
</form>