<div class="landing">
    <h2>
        <em>{{this.type}}:</em>
    </h2>
    <h1>{{this.name}}</h1>
    <h2>CITY: {{this.location}}</h2>

    <a href="{{this.website}}" target="_blank">Visit Site</a>
    <p>Notes: {{this.notes}}</p>
    <br>

    <form action="/trips/edit/{{id}}" method="GET">
        <input type="submit" value="Edit">
    </form>
    <form onsubmit="return confirmDelete()" method="POST" action="/trips/{{id}}?_method=delete">
        <input type="submit" value="Remove">
    </form>
    <br>
    <br>
    <a class="home" href="/trips">⟵ Index</a>
</div>